:root {
	/* Achromatic */
	--shironeri: #fcfaf2; /* 白練 */
	--aijiro: #ebf6f7; /* 藍白 */
	--shironezumi: #dcdddd; /* 白鼠 */
	--ginnezumi: #bbbcbf; /* 銀鼠 */
	--sunezumi: #737373; /* 素鼠 */
	--dobunezumi: #595455; /* 丼鼠 */
	--binroujizome: #433d3c; /* 檳榔子染 */
	--aisumicha: #373c38; /* 藍墨茶 */
	--kokushoku: #171412; /* 黒色 */
	--sumiiro: #000a02; /* 墨色 */

	/* Blue/Blue Violet */
	--fujiiro: #baa7cc; /* 藤色 */
	--kamenozoki: #91d0cd; /* 瓶覗 */
	--mizuiro: #7fcce3; /* 水色 */
	--sorairo: #73b8e2; /* 空色 */
	--futaai: #888abc; /* 二藍 */
	--benimidori: #8491c3; /* 紅碧 */
	--shinbashiiro: #5ac2d9; /* 新橋色 */
	--minatonezumi: #77969a; /* 湊鼠 */
	--fujinezumi: #6e75a4; /* 藤鼠 */
	--benikakehanairo: #68699b; /* 紅掛花色 */
	--gunjouiro: #4c6c83; /* 群青色 */
	--ainezu: #6b818e; /* 藍鼠 */
	--sabiasagi: #5c9291; /* 錆浅葱 */
	--chigusairo: #3a8fb7; /* 千草色 */
	--masuhanairo: #5b7e91; /* 舛花色 */
	--hanaasagi: #1e88a8; /* 花浅葱 */
	--omeshionando: #4c6473; /* 御召御納戸 */
	--noshimehanairo: #426579; /* 熨斗目花色 */
	--asagiiro: #00a5bf; /* 浅葱色 */
	--rurikon: #224b8f; /* 瑠璃紺 */
	--hanada: #0086ad; /* 縹 */
	--tetsuonando: #455765; /* 鉄御納戸 */
	--ruriiro: #005ba0; /* 瑠璃色 */
	--konjoiro: #005499; /* 紺青色 */
	--aonibi: #324356; /* 青鈍 */
	--aiiro: #105779; /* 藍色 */
	--onandoiro: #1c6867; /* 御納戸色 */
	--konkikyou: #211e55; /* 紺桔梗 */
	--kon: #002665; /* 紺 */
	--kurotsurubami: #322c28; /* 黒橡 */
	--kachiiro: #003847; /* 褐色 */

	/* Green/Blue Green */
	--byakuroku: #daead0; /* 白緑 */
	--yanaginezumi: #c8d5bb; /* 柳鼠 */
	--mizuasagi: #8cd2bc; /* 水浅葱 */
	--usuao: #93b69c; /* 薄青 */
	--seijiiro: #7ebea5; /* 青磁色 */
	--aotakeiro: #7ebeab; /* 青竹色 */
	--wakatakeiro: #7cc28e; /* 若竹色 */
	--sabiseiji: #898a74; /* 錆青磁 */
	--oitakeiro: #769164; /* 老竹色 */
	--midori: #3eb370; /* 緑 */
	--seiheki: #478384; /* 青碧 */
	--rokushou: #407a52; /* 緑青 */
	--omeshicha: #43676b; /* 御召茶 */
	--jinkoucha: #436752; /* 沈香茶 */
	--aimirucha: #56564b; /* 藍海松茶 */
	--sabitetsuonando: #485859; /* 錆鉄御納戸 */
	--onandocha: #465d4c; /* 御納戸茶 */
	--tokusairo: #22825d; /* 木賊色 */
	--biroudo: #2f5d50; /* 天鵞絨 */
	--senzaimidori: #335719; /* 千歳緑 */
	--mushiao: #20604f; /* 虫襖 */
	--kourainando: #104539; /* 高麗納戸 */
	--kuroganeiro: #102e24; /* 鉄色 */

	/* Red */
	--sangoiro: #f5b1aa; /* 珊瑚色 */
	--tokihairo: #f49e95; /* 鴇羽色 */
	--akakouiro: #f6b894; /* 赤香色 */
	--shishiiro: #efab93; /* 宍色 */
	--akebonoiro: #fa7b62; /* 曙色 */
	--tokigaracha: #e09e87; /* ときがら茶 */
	--choushuniro: #d88b83; /* 長春色 */
	--terigaki: #f89264; /* 照柿 */
	--araishu: #d0826c; /* 洗朱 */
	--sakuranezumi: #d8c6bc; /* 桜鼠 */
	--ouni: #ee7948; /* 黄丹 */
	--enshuucha: #ca8269; /* 遠州茶 */
	--umenezumi: #ad7984; /* 梅鼠 */
	--edocha: #cd8c5c; /* 江戸茶 */
	--sohi: #fba027; /* 蘇比 */
	--kakishibuiro: #bd7862; /* 柿渋色 */
	--ginshu: #c85554; /* 銀朱 */
	--mizugaki: #b56c60; /* 水がき */
	--jinzamomi: #d23f40; /* 甚三紅 */
	--benihi: #f83929; /* 紅緋 */
	--akabeni: #c53d43; /* 赤紅 */
	--soudenkaracha: #a16d5d; /* 宗傳唐茶 */
	--shinshu: #aa564f; /* 真朱 */
	--karakurenai: #ea0032; /* 唐紅 */
	--suoukou: #b23e52; /* 蘇芳香 */
	--shoujouhi: #e7001d; /* 猩々緋 */
	--azukiiro: #a04940; /* 小豆色 */
	--ake: #ba2636; /* 緋 */
	--benitobi: #9a493f; /* 紅鳶 */
	--bengarairo: #aa562e; /* 紅柄色 */
	--benikaba: #b63d1b; /* 紅樺 */
	--kabacha: #726250; /* 樺茶 */
	--kokiake: #c20024; /* 深緋 */
	--benihihada: #7b4741; /* 紅檜皮 */
	--suzumecha: #982e21; /* 雀茶 */
	--shikancha: #b96c00; /* 芝翫茶 */
	--hihadairo: #7b4334; /* 檜皮色 */
	--momoshiocha: #724938; /* 百塩茶 */
	--kurikawacha: #824522; /* 栗皮茶 */
	--karacha: #a06705; /* 唐茶 */
	--ebicha: #6c2c2f; /* 海老茶 */
	--enjiiro: #9b003f; /* 臙脂色 */
	--tobiiro: #7a380f; /* 鳶色 */
	--kuriume: #6c1912; /* 栗梅 */
	--kurotobi: #432f2f; /* 黒鳶 */

	/* Red-Violet */
	--sakurairo: #feeeed; /* 桜色 */
	--ikkonzome: #fcd4d5; /* 一斤染 */
	--arazome: #ffb3a7; /* 退紅 */
	--momoiro: #f58f98; /* 桃色 */
	--koubaiiro: #db5a6b; /* 紅梅色 */
	--usukurenai: #b15c65; /* 薄紅 */
	--nakabeni: #c85179; /* 中紅 */

	/* Violet */
	--usuiro: #ceb4b9; /* 薄色 */
	--benifuji: #d093bf; /* 紅藤 */
	--hashitairo: #a69abd; /* 半色 */
	--shioniro: #968abd; /* 紫苑色 */
	--botan: #e761a4; /* 牡丹 */
	--fujimurasaki: #8f82bc; /* 藤紫 */
	--hatobanezumi: #9e8b8e; /* 鳩羽鼠 */
	--ayameiro: #b168a8; /* 菖蒲色 */
	--sumireiro: #7065a3; /* 菫色 */
	--umemurasaki: #a8497a; /* 梅紫 */
	--murasaki: #884898; /* 紫 */
	--kikyouiro: #624498; /* 桔梗色 */
	--budounezumi: #705b67; /* 葡萄鼠 */
	--fujisusutake: #5a5359; /* 藤煤竹 */
	--suou: #7e2639; /* 蘇芳 */
	--murasakitobi: #5f414b; /* 紫鳶 */
	--benikeshinezumi: #524748; /* 紅消鼠 */
	--messhi: #594255; /* 滅紫 */
	--kakitsubata: #5e3862; /* 杜若 */
	--kokimurasaki: #493759; /* 深紫 */
	--nisemurasakiiro: #513743; /* 似せ紫 */
	--kurobeni: #302833; /* 黒紅 */
	--shikon: #400b36; /* 紫紺 */

	/* Yellow */
	--torinokoiro: #f8eed1; /* 鳥の子色 */
	--ominaeshi: #f2f2b0; /* 女郎花 */
	--usuki: #edd3a1; /* 浅黄 */
	--tamagoiro: #ffdf85; /* 玉子色 */
	--hajizome: #d9a62e; /* 櫨染 */
	--rikyuushiracha: #d0c19c; /* 利休白茶 */
	--mushikuriiro: #d9cd90; /* 蒸栗色 */
	--kuwazome: #dabc91; /* 桑染 */
	--hanabairo: #fbd26b; /* 花葉色 */
	--kuchinashi: #ffd768; /* 梔子 */
	--shirotsurubami: #cbb994; /* 白橡 */
	--kihada: #fef263; /* 黄蘗 */
	--akuiro: #bcb09c; /* 灰汁色 */
	--toumorokoshiiro: #eec362; /* 玉蜀黍色 */
	--karukaya: #e2b13c; /* 苅萱 */
	--ukoniro: #f7c229; /* 鬱金色 */
	--kikuchiba: #d3a243; /* 黄朽葉 */
	--namakabeiro: #aa8c63; /* 生壁色 */
	--nataneaburairo: #dec031; /* 菜種油色 */
	--touou: #f7c114; /* 藤黄 */
	--aokuchiba: #ada250; /* 青朽葉 */
	--yamabukicha: #c89932; /* 山吹茶 */
	--yamabukiiro: #f8b400; /* 山吹色 */
	--nanohanairo: #fcd900; /* 菜の花色 */
	--hiwacha: #8c8861; /* 鶸茶 */
	--kimirucha: #918754; /* 黄海松茶 */
	--higosusutake: #897858; /* 肥後煤竹 */
	--kitsurubami: #a27033; /* 黄橡 */
	--rikyuucha: #897845; /* 利休茶 */
	--rokoucha: #927a30; /* 路考茶 */
	--uguisuiro: #8a7b29; /* 鶯色 */
	--mirucha: #57543d; /* 海松茶 */
	--uguisucha: #715c1f; /* 鶯茶 */

	/* Yellow Green */
	--urayanagi: #c1d8ac; /* 裏柳 */
	--yanagisome: #93b881; /* 柳染 */
	--yanagicha: #a1a46d; /* 柳茶 */
	--usumoegi: #8db255; /* 淡萌黄 */
	--aoshirotsurubami: #85916d; /* 青白橡 */
	--baikoucha: #aaa751; /* 梅幸茶 */
	--hiwamoegi: #82ae46; /* 鶸萌黄 */
	--aoni: #858954; /* 青丹 */
	--hiwairo: #d6d000; /* 鶸色 */
	--matsubairo: #5e8630; /* 松葉色 */
	--iwaicha: #6f6f43; /* 岩井茶 */
	--kokeiro: #78882d; /* 苔色 */
	--aikobicha: #555647; /* 藍媚茶 */
	--yanagisusutake: #4a593d; /* 柳煤竹 */
	--miruiro: #5b622e; /* 海松色 */
	--senzaicha: #48493f; /* 千歳茶 */
	--rikancha: #6a5d21; /* 璃寛茶 */

	/* Yellow-Red */
	--akashirotsurubami: #fed2ae; /* 赤白橡 */
	--araigaki: #f0b694; /* 洗柿 */
	--sharegaki: #f7bd8f; /* 洒落柿 */
	--usugaki: #d4acad; /* 薄柿 */
	--shiracha: #dac4a5; /* 白茶 */
	--usukou: #f3bf88; /* 淡香 */
	--choujizome: #ddb87e; /* 丁子染 */
	--kyarairo: #d8a373; /* 伽羅色 */
	--kurumizome: #a58f86; /* 胡桃染 */
	--umezome: #b48a76; /* 梅染 */
	--fushizome: #b28c6e; /* 柴染 */
	--choujicha: #b4866b; /* 丁子茶 */
	--kokikuchinashi: #efbb2c; /* 深支子 */
	--beniukon: #cb8347; /* 紅鬱金 */
	--kitsuneiro: #d9972f; /* 狐色 */
	--biwacha: #ae7c4f; /* 枇杷茶 */
	--kigaracha: #b98c46; /* 黄唐茶 */
	--ganzouiro: #fda900; /* 萱草色 */
	--kourozen: #d74b22; /* 黄櫨染 */
	--kohakuiro: #ea930a; /* 琥珀色 */
	--taishairo: #b36c3c; /* 代赭色 */
	--kincha: #ce7a19; /* 金茶 */
	--kabairo: #c5591a; /* 蒲色 */
	--senchairo: #8c6450; /* 煎茶色 */
	--oudoiro: #ce9b0e; /* 黄土色 */
	--kuchibairo: #917347; /* 朽葉色 */
	--ginsusutake: #82663a; /* 銀煤竹 */
	--susutakeiro: #70564a; /* 煤竹色 */
	--kobicha: #70564a; /* 媚茶 */
	--tonocha: #9f6f55; /* 礪茶 */
	--kogecha: #6a4d32; /* 焦茶 */
	--kenpouzome: #574738; /* 憲法染 */
}
